
li {list-style-position:inside;}




nav.withOver > ul > li:not(.unc) > div {width:100%; z-index:99999; zbackground-color:#fff;  position:relative;} 

nav.withOver h4 {color:#fff;}
nav.withOver h3 {color:#fff;}
nav.withOver h2 {color:#fff;}
nav.withOver h5 {color:#fff;}
nav.withOver > ul {text-align:center; color:#e2e2e2;}
nav.withOver > ul > li > a {text-transform: uppercase; font-size: 36px; color:#e2e2e2; }
nav.withOver > ul li a  { color:#e2e2e2; }
body {background-image:url('/static/img/crossword.png');}
.acc {position:relative; width:500px;}
.profileHolder{clear:both;}

.blackBg {position:fixed; top:0px; left:0px; width:100%; height:100%; background-color:#000; opacity:0.7; z-index:1;}
.blackContent {position:fixed; top:0px; left:0px; width::100%; padding:0 50%; height:100%; text-align:center; z-index:2;}
.blackContent img {max-width:90%; max-height:90%; margin-top:5%; margin-left:-100%; border:5px solid #fff; border-radius:3px;}


z.orbit-container {overflow:auto!important;}

.orbit-container{overflow:visible;}
.orbit-container ul {overflow:hidden;}

ide-nav .heading_2 {
text-transform:uppercase;
font-weight:bolder;
font-size:12px;
}

.dashed-border {border:1px dashed lightgray;}
.side-nav .heading_2 a {color:#232323!important;}

.side-nav .heading {
    text-transform: uppercase;
    font-weight:bolder;
    font-size:12px;
}

z.main {border:1px solid lightgray;}












.fade {

}

.fade {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}

.fade.ng-hide {
  opacity:0;
  height:0px;;
  overflow:hidden;
}

.fade {
  opacity:1;
  height:auto;
}



.orbit-container .orbit-prev, .orbit-container .orbit-next {
    background-color: rgba(0, 0, 0, 0.7);
}
