.side-nav .heading_2 {
text-transform:uppercase;
font-weight:bolder;
font-size:12px;
}

.dashed-border {border:1px dashed lightgray;}
.side-nav .heading_2 a {color:#232323!important;}

.side-nav .heading {
    text-transform: uppercase;
    font-weight:bolder;
    font-size:12px;
}

.main {border:1px solid lightgray;}

