
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="/static/f/css/foundation.css" />
    <link rel="stylesheet" href="/static/f/css/css.css" />
    <script src="/static/f/js/vendor/modernizr.js"></script>
  </head>
     <body>
     <div class="columns large-12 main">
        <div class="columns large-2">
        <div class="logo">
            <img src="/static/img/logo.png" />
        </div>
        <nav>
            <ul class="side-nav">
                <li class="heading_2"><a> Навигация</a> </li>
                <li><a href="#">Главная     </a></li>
                <li><a href="#">Случайная   </a></li>
                <li><a href="#">Категории   </a></li>
                <li>&nbsp;</li>
                <li class="heading_2"><a>Категории</a></li>
                <li><a href="#">Mary Key</a></li>
                <li><a href="#">Penelopa Black </a></li>
                <li><a href="#">Little Jenni</a></li>
                <li><a href="#">Alexandra R</a></li>
                <li><a href="#">Marlyn Sakova </a></li>
            </ul>
        </nav>
        </div>
<!--
        <div class="columns large-9">
        
        {% block content %}
        {% endblock %}
    -->    
    </div>
    
    
    </div>  



 
    <script src="/static/f/js/vendor/jquery.js"></script>
    <script src="/static/f/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
