
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="/static/f/css/foundation.css" />
    <link rel="stylesheet" href="/static/f/css/css.css" />
    <script src="/static/f/js/vendor/modernizr.js"></script>
  </head>
     <body>
     <div class="columns large-12 main">
        <div class="columns large-2">
        <div class="logo">
            <img src="/static/img/logo.png" />
        </div>
        <nav>
            <ul class="side-nav">
                <li class="heading_2"><a> Навигация</a> </li>
                <li><a href="#">Главная     </a></li>
                <li><a href="#">Случайная   </a></li>
                <li><a href="#">Категории   </a></li>
                <li>&nbsp;</li>
                <li class="heading_2"><a>Категории</a></li>
                <li><a href="#">Mary Key</a></li>
                <li><a href="#">Penelopa Black </a></li>
                <li><a href="#">Little Jenni</a></li>
                <li><a href="#">Alexandra R</a></li>
                <li><a href="#">Marlyn Sakova </a></li>
            </ul>
        </nav>
        </div>
        <div class="columns large-9">
        
        {% block content %}
        {% endblock %}
        
        <!--
            <div>
                <h2> Wellcome! </h2>
                <p> lorem </p>
            </div>
            <div class=" z-dashed-border columns large-12"> 
             <div class="row">
                  <div class="row collapse">
                    <div class="small-10 columns">
                      <input type="text" placeholder="Search boobs">
                    </div>
                    <div class="small-2 columns">
                      <a href="#" class="button postfix">Go</a>
                    </div>
                </div>
             </div>
           </div>
            
            <div class="clear"> <br/> &nbsp;  </div>
            <div class="dashed-border columns large-12">
            <div class="columns large-5">
                       <img src="/static/img/girl.png" />
                </div>

                <div class="columns large-7">
                    <h2> Heather Blond </h2>
                    <ul class="top-stat">
                        <li> Breast Size: 2g </li>
                        <li> Hair color: blond </li>
                        <li> Birth Date: 12.12.1972</li>
                    </ul>
                    <hr/>
                    <p> If you want to have a sex: call my dog his name is rex </p>
                </div>
            </div>

            <div class="clear"> <br/> &nbsp;  </div>
            <div>
                <div class="columns large-6">
                <div class="row">
                    <h4> Video News </h4>
                    <p> video </p>
                </div>
                
                <h4> Other good boobs </h4>
                    <div class="panel columns large-4">
                       <img src="/static/img/girl.png" />
                       <hr/>
                       <a href="#"> Freeda Dark </a>
                    </div>
                </div>

                <div class="columns large-6">
                <h4> Сиськоновости </h4>
                    <div>
                        <h5> 22.11.2003 </h5>
                        <p>
                        Скалярное поле создает интеграл по поверхности, как и предполагалось. Согласно последним исследованиям, натуральный логарифм переворачивает абстрактный контрпример, что и требовалось доказать.
                        </p>
                   </div>
                    <div>
                        <h5> 22.11.2003 </h5>
                        <p>
                        Скалярное поле создает интеграл по поверхности, как и предполагалось. Согласно последним исследованиям, натуральный логарифм переворачивает абстрактный контрпример, что и требовалось доказать.
                        </p>
                   </div>
                    <div>
                        <h5> 22.11.2003 </h5>
                        <p>
                        Скалярное поле создает интеграл по поверхности, как и предполагалось. Согласно последним исследованиям, натуральный логарифм переворачивает абстрактный контрпример, что и требовалось доказать.
                        </p>
                   </div>
                    <div>
                        <h5> 22.11.2003 </h5>
                        <p>
                        Скалярное поле создает интеграл по поверхности, как и предполагалось. Согласно последним исследованиям, натуральный логарифм переворачивает абстрактный контрпример, что и требовалось доказать.
                        </p>
                   </div>
                </div>

            </div>
        </div>

        <div class="columns large-1">

        <nav>
            <ul class="side-nav">
                <li class="heading_2"><a href='#'>Тэги</a>  </li>
                <li><a href="#">Mary </a></li> 
                <li><a href="#">Penel</a></li>
                <li><a href="#">Littl</a></li>
                <li><a href="#">Alexa</a></li>
                <li><a href="#">Marly</a></li>
                <li><a href="#">Mary </a></li>
                <li><a href="#">Penel</a></li>
                <li><a href="#">Littl</a></li>
                <li><a href="#">Alexa</a></li>
                <li><a href="#">Marly</a></li>
                <li><a href="#">Mary </a></li>
                <li><a href="#">Penel</a></li>
                <li><a href="#">Littl</a></li>
                <li><a href="#">Alexa</a></li>
                <li><a href="#">Marly</a></li>
                <li><a href="#">Mary </a></li>
                <li><a href="#">Penel</a></li>
                <li><a href="#">Littl</a></li>
                <li><a href="#">Alexa</a></li>
                <li><a href="#">Marly</a></li>
                <li><a href="#">Mary </a></li>
                <li><a href="#">Penel</a></li>
                <li><a href="#">Littl</a></li>
                <li><a href="#">Alexa</a></li>
                <li><a href="#">Marly</a></li>
            </ul>
        </nav>
        </div>
    -->
    </div>
    
    
    </div>  



 
    <script src="/static/f/js/vendor/jquery.js"></script>
    <script src="/static/f/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
