{% extends "nong.html" %}
{% block content %}
<div class="columns large-8">
<h1>Sign In</h1>
<form action="" method="post" name="login">
    {% for field in form %}
    <div class="large-12 columns">
      <label> 
          {% if field.type!='CSRFTokenField' %}
            {{field.label}}
          {% endif %}
          
          {{field}}
      </label>
    </div>
    
    {% endfor %}
    
    <div class="large-12 columns">
    <p><input class="button" type="submit" value="Sign In"></p>
    </div>
</form>
</div>
{% endblock %} 
