
    <div class="columns large-9 large-centered">
    <div class="columns large-6"> <span> Aristokrats  </span>  <br/> <br/>

        <form enctype=multipart/form-data action="/search/" method="get">
           <div class="columns large-10"> <input type="text"  name="query"/ > </div>
           <div class="columns large-2"> <input class="button tiny" name="submit" type="submit" value="Go"> </div>
        </form>
    </div>
    <div class="columns large-6"> [ru] [en] [de] </div>
    
    <div class="columns large-12"> 
    <br/>   
    <div ng-if="content.ready">
        <div ng-if="content.ready"  ng-include="content.template">
        </div>
    </div> 
    
    
     <div ng-include="'/static/views/menu.html'">
     
     </div>
    <div class="">
            
    </div>
    </div>

    </div>
    </div>

