    

    <div class="columns large-12"> 

    
     <div class="columns large-3" ng-include="'/static/views/menu.html'">
     
     </div>

    <div ng-if="content.ready">
        <div ng-if="content.ready"  ng-include="content.template">
        </div>
    </div> 
    <div  nf-if="!(content.ready)"  class="columns large-8"   style="float:left;"  ng-init="$question = getFromModel('Question', {'id':routeParams.id})">
            <h3> {{$question.data[0].name}} </h3>
            <p> 
                {{$question.data[0].text}}
            </p>
        <h5> Ответы </h5>

        
        <div ng-init="$answers = getFromModel('Answer', {'question':routeParams.id})">
            <div ng-if="!($answers.data)"> 
                <strong> Вопрос всё еще без ответа </strong>
            </div>
            <div ng-repeat="answer in $answers.data">
                <p class="panel"> 
                <small> <strong> {{answer.created_at}}, {{answer.author.name}}</strong></small> <br/>

                {{answer.text}} </p> 
            </div>
        </div>
                <br/>
                <div  class="columns large-8" ng-if="!(current.uid)">
                    <i>Чтобы ответить на вопрос войдите или зарегистрируйтесь </i>
                <br/> <br/>
                </div>

                <form ng-if="current.uid" name="ask" ng-init="$answer={'question':$question.data[0].id}" >
                    <textarea  ng-model="$question.text" class="columns large-12" placholder="Текст ответа" name="text"> </textarea>
                    <button  ng-click="Answer($answer);"  class="small large-12 columns"> submit </button>
                </form>


    </div>  


