

{% extends "nong.html" %}
{% block content %}
<div class="columns large-8">
<h1>Я: {{user.name}}</h1>
<div>
    <p> {{user.text}} </p>    
    
<div class="columns large-12">
    <h3 class="subheader columns"> Мои фотографии </h3>
{% for i in media %}
    <div class="columns large-3">
        <div class="panel">
           <a  href ><img src="/static/media/thumb_{{i.url}}" alt="" /></a>
        </div>
    </div>
{% endfor %}



<div class="columns large-3 left">
    <div class="panel">
    <form enctype=multipart/form-data action="" method="post" name="login">
        <img src='/static/img/add_icon.png' style="cursor:pointer;" onclick="$(this).parent().children('input[type=file]').click();"  alt='' />
        <input  name="img" style="display:none;" onchange="$(this).closest('form').submit();" type="file" />
        <input type="submit" style="display:none;" value="ok" />
    </form>
    </div>
</div>
</div>
<form enctype=multipart/form-data action="" method="post" name="login">
    {% for field in form %}
    <div class="large-12 columns">
      <label> 
          {% if field.type!='CSRFTokenField' %}
            {{field.label}}
          {% endif %}
          
          {{field}}
      </label>
    </div>
    
    {% endfor %}
    
    <div class="large-12 columns">
    <p><input class="button" name="submit" type="submit" value="Sign In"></p>
    </div>
</form>
</div>
{% endblock %} 

